git: error: couldn't create cache file '/var/folders/zz/zyxvpxvq6csfxvn_n00001yr0000gp/T/xcrun_db-WMvhYMfo' (errno=Operation not permitted)
git: error: couldn't create cache file '/var/folders/zz/zyxvpxvq6csfxvn_n00001yr0000gp/T/xcrun_db-0kRXCfUN' (errno=Operation not permitted)
TYPESAFE_API_KEY=
JEV_MODEL=jev-latest
BASELINE_API_KEY=
BASELINE_BASE_URL=https://lightingtheword.com
BASELINE_MODEL=DeepSeek-V4-Pro-0813
